body {
    background-image: url(https://static.vecteezy.com/ti/photos-gratuite/p2/1230968-ciel-etoile-gratuit-photo.jpeg);
    text-align: center;
}

header {
    color: cornflowerblue;
}

main {
    color: #f2d518;
}