body {
    background-image: url(wallpaper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    color: #feda4a;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 100px;
    text-align: justify;
}
h1 {
    color: dodgerblue;
    text-align: center;
    margin-bottom: 150px;
}
p {
    font-family: 'Pathway Gothic One';
}

audio {
    position: fixed;
    top: 0;
}

.scroll {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 600px;
}

.scroll-text {
    color: #ffc909;
    animation: scroll 80s linear forwards;


}

@keyframes scroll {
    0% {
        transform: rotateX(20deg) translateY(100%);
    }

    100% {
        transform: rotateX(25deg) translateY(-100%);
